<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>説明　 -wangluming</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">説明</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul style="display: none" class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a href="">控制台</a>
            </li>
            <li class="layui-nav-item">
                <a href="">商品管理</a>
            </li>
            <li class="layui-nav-item">
                <a href="">用户</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">邮件管理</a>
                    </dd>
                    <dd>
                        <a href="">消息管理</a>
                    </dd>
                    <dd>
                        <a href="">授权管理</a>
                    </dd>
                </dl>
            </li>
        </ul>
        <ul style="display: none" class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                     贤心
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">基本资料</a>
                    </dd>
                    <dd>
                        <a href="">安全设置</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="">退了</a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">Line連携説明</a>
                    <dl style="display: none" class="layui-nav-child">
                        <dd>
                            <a href="javascript:;">列表一</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">列表二</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">列表三</a>
                        </dd>
                        <dd>
                        </dd>
                    </dl>
                </li>
                <li style="display: none" class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl style="display: none" class="layui-nav-child">
                        <dd>
                            <a href="javascript:;">列表一</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">列表二</a>
                        </dd>
                        <dd>
                            <a href="">超链接</a>
                        </dd>
                    </dl>
                </li>
                <li style="display: none" class="layui-nav-item">
                    <a href="">云市场</a>
                </li>
                <li style="display: none" class="layui-nav-item">
                    <a href="">发布商品</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <p style="padding: 15px;">
            <P> このシステムはブラウザーからブラウザーまでにチャットができます。</p>
            <img src="/static/index/12.png"   /><br><br><br>
            <P> 又はブラウザーからLineまでにチャットもできます。</p>
        <br>
        <p>1.Line appでQRコードをスキャンして友達追加します。</p><br>
            <img src="/static/index/1.png" width="20%"  /><br>
            <p>2. 以下の通り「login名前」の形で発信します。例の名前はtesterです。</p><br>
            <img src="/static/index/2.png" width="20%"  /><br><br>
            <p>3. 担当者登録URL  <a href="https://wangluming.net/service/login/index/u/5c6cbcb7d55ca.html" target="view_window">https://wangluming.net/service/login/index/u/5c6cbcb7d55ca.html</a><br>
                acount: admin<br>
                password: admin<br></p><br>
            <img src="/static/index/3.png" width="70%"  /><br><br>
            <p> 4. 登録した後以下になります。</p><br><br>
            <img src="/static/index/4.png" width="70%"  /><br><br>
            <p> 5. lineからメッセージがもらえます。</p><br><br>
            <img src="/static/index/5.png" width="20%"  /> => <img src="/static/index/6.png" width="70%"  /><br><br>
            <p>6. web page から発信も出来ます。</p><br><br>
            <img src="/static/index/7.png" width="70%"  /> => <img src="/static/index/8.png" width="20%"  /><br><br>
            <p>7.ログアウトした後にLineからのメッセージ受付出来まできません。以下のように返信します。<br>
            メッセージは管理システムの伝言リストに格納します。</p><br><br>
            <img src="/static/index/9.png" width="70%"  /><br><br>
            <img src="/static/index/3.png" width="70%"   /><br><br>

            <img src="/static/index/11.png" width="20%"  /><br>
            <p>基本操作は以上です</p><br><br>
        <p>管理システム登録url  <a href="https://wangluming.net/seller" target="view_window">https://wangluming.net/seller</a><br>
            acount: admin<br>
            password: admin<br></p><br>
        </p>
    </div>
    </div>

    <div style="display: none" class="layui-footer">

    </div>
</div>
<script src="/static/layui/layui.all.js"></script>
<script src="/index/index/chatBoxJs/u/5c6cbcb7d55ca"></script>
<script>whisperChat.init();</script>
<script>
    //JavaScript代码区域
    layui.use('element', function() {
        var element = layui.element;

    });

    // layui.use('table', function(){
    //     var table = layui.table;
    //
    //     //第一个实例
    //     table.render({
    //         elem: '#demo'
    //         ,height: 315
    //         ,url: '/demo/table/user/' //数据接口
    //         ,page: true //开启分页
    //         ,cols: [[ //表头
    //             {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
    //             ,{field: 'username', title: '用户名', width:80}
    //             ,{field: 'sex', title: '性别', width:80, sort: true}
    //             ,{field: 'city', title: '城市', width:80}
    //             ,{field: 'sign', title: '签名', width: 177}
    //             ,{field: 'experience', title: '积分', width: 80, sort: true}
    //             ,{field: 'score', title: '评分', width: 80, sort: true}
    //             ,{field: 'classify', title: '职业', width: 80}
    //             ,{field: 'wealth', title: '财富', width: 135, sort: true}
    //         ]]
    //     });
    //
    // });
</script>
</body>

</html>